# {{ ansible_managed }}
# Configuration de l'API TaskFlow — chargée par systemd (EnvironmentFile=)
PORT={{ api_port }}
APP_VERSION={{ app_version }}
APP_ENV={{ app_env }}
API_SECRET={{ api_secret }}
NODE_ENV=production
