# {{ ansible_managed }}
[Unit]
Description=node_exporter (métriques hôte TaskFlow lab)
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
ExecStart={{ node_exporter_bin }} \
  --web.listen-address=:{{ node_exporter_port }} \
  --collector.systemd \
  --no-collector.hwmon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
